<footer class="font-['SF_Pro_Text'] text-[11px] font-normal bg-[#f5f5f7] mt-36 p-8">
  <div
    class="flex flex-col justify-between mx-auto max-w-[300px] sm:max-w-[690px] sm:flex-row lg:max-w-[970px]"
  >
    <div class="flex items-center gap-[5px] text-[#424245]">
      <a
        class="systemStatus"
        target="_blank"
        rel="noreferrer"
        href="https://www.apple.com/support/systemstatus/"
        aria-label="System Status (opens in a new tab)"
      >
        System Status
      </a>
      <span class="inline-block w-px h-[14px] bg-[#d2d2d7]"></span>
      <a
        class="privacy"
        target="_blank"
        rel="noreferrer"
        href="https://www.apple.com/legal/privacy/"
        aria-label="Privacy Policy (opens in a new tab)"
      >
        Privacy Policy
      </a>
      <span class="inline-block w-px h-[14px] bg-[#d2d2d7]"></span>
      <a
        class="terms"
        target="_blank"
        rel="noreferrer"
        href="https://www.apple.com/legal/internet-services/icloud/"
        aria-label="Terms & Conditions (opens in a new tab)"
      >
        Terms &amp; Conditions
      </a>
    </div>
    <span class="text-[#6e6e73]">Copyright © 2023 Apple Inc. All rights reserved.</span>
  </div>
</footer>
