<header
  class="flex items-center sticky top-0 pl-[16px] pr-[6px] justify-between bg-[#fbfbfd80] backdrop-blur-[14px] h-[44px] min-w-full"
>
  <img
    class="w-[82px] h-[31px]"
    src="/icloud-clone-astro/apple-icloud-logo.svg"
    alt="Apple iCloud Logo"
  />
  <button
    type="button"
    class="grid place-content-center w-9 h-9 mx-1 hover:bg-[#00000014] active:bg-[#00000029] rounded-lg"
  >
    <img src="/icloud-clone-astro/three-dots.svg" alt="Menu Icon" />
  </button>
</header>
